.dp {
  width: 40px;    
  height: 40px;
  border-radius: 50%; 
  border: 1px solid rgb(176, 176, 176);
}

.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}